/* .request{
    display: flex;
    justify-content: center;
} */

.request fieldset {
    display: flex !important;
    height: auto ;
 
    min-width: 480px !important;
    padding: 30px !important;
    border: 1px solid #ccc !important;
    border-radius: 20px !important;
    flex-direction: column !important;
    background-color: #fff;
    box-shadow: 0 4px 8px rgb(49 36 73 / 17%);
  }
  .form-control {
    border-radius: 2px;
    border: none;
    border-bottom: 1px solid #E0E0E0;
    box-shadow: 0 1px 5px -2px rgba(0,0,0,.2);
    margin: 10px 0;
    
    &:focus {
      box-shadow: 0 1px 5px -2px #42A5F5;
      border-bottom: 1px solid #2196F3;
    }
    
  }
  @media (min-width:1000px) {
    
      .input-card,.range{
          width: 50% !important;
        }
    }