.NavBar{
    justify-content: flex-end;
  }
.navbar-brand img{
    border-radius: 25px;
    width: 35px;
    height: 35px;
}
.navbar-brand span{
    margin: 10px !important;
    color: #ccc5c5;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
}